body{
    font-family: sans-serif;
    font-size: 20px;
}
h1{
    color: red;
    text-align: center;
    background-color: rgb(33, 229, 33);
}
li{
    padding: 20px;
    margin: 20px;
}
.color-name{
    color: black;
    background: pink;
}
.rgb-color{
    color: rgb(114, 34, 188);
    background: rgb(26, 25, 25);
}
.hex-color{
    color: #E08DFF;
    background: #1B4D3E;
}
.hsl-color{
    color: #43ebb3;
    background: #93095e;
}
.rgba-color{
    color: black;
    background: rgba(234, 159, 21, .5);
}