h1{
    color: red;
    background: green;
}
.box{
    background: orange;
    height: 200px;
    width: 300px;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    font-style: italic;
}