body{
    font-family: 'Bebas Neue', cursive;

}
p{
    /* font-weight:  400; */
    /* text-transform: none; */
    font-family: sans-serif;
}
h1{
    margin: 0px;
    font-size: 50px;
    letter-spacing: 2px;
}
a{
    text-decoration: none;
    display: inline-block;
}
header{
    /* padding: 50px 0px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
}
.name-cus{
    color: #FF8367;
}
.head-pic{
     width: 30%;

}
img{
    max-width: 100%;
}
.btn{
    background: #FF8063;
    padding: 10px 25px;
    border-radius: 5px;
    color: #fff;
    font-family: sans-serif;
}
.about-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-section-pic{
    width: 30%;
}
.section{
    background: #F8F9FC;
}
.cus-h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: -43px;
    padding-top: 20px;
}
span{
    color: #FF8367;
}
.working-section{
    padding: 100px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card{
    width: 23%;
    box-shadow: 1px 1px 40px #50505030;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
}
.work-inquiry{
    padding: 100px;
}
.inquiry-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #5D69E9;
    padding: 30px;
    border-radius: 15px;
    color: #fff;
    width: 60%;
    margin: 0px auto;
}
.inquiry-info h1{
    font-weight: 400;
    letter-spacing: normal;
}
.stay-connect{
      text-align: center;
}
.social-icon img{
    width: 40px;
    margin: 0px 10px;
}