@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.bg-red{
    background-color: #ff4a57;
    color: #fff;
}
.bg-halka-red{
    background-color: #ffeddf;
}
.hero-section{
    background-image: url(./img/bg-slider1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.hero-content h1{
    font-size: 55px;
}
/* mwdia quere */
@media only screen and(max-width :768px) {
    .hero-content h1{
        font-size: 20px;
    }
    
}