.social ul{
    list-style: none;
    display: flex;
    justify-content: center;
    position: relative;
    top: 40%;
}
.social{
    background-color: black;
    height: 200px;
    width: 500px;
    margin: 0 auto;
    border-radius: 10px;
}
.social ul li{
    font-size: 40px;
    padding: 0px 15px;
    color: red;

}
ul li:hover i{
    background-color: rgb(227, 227, 233);
    color: rgb(17, 87, 180);
    transition: .5s all;
   
    
}
